/* .hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
} */
nav{
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    width: 100%;
    height: 6vh;
}
#nav-leftside{
    width: 50%;
}
.navName{
    font-size: 2.0em;
    width: 44%;
}

#nav-rightside{
    display: flex;
    width: 50%;
}

#button-container{
    width: 100%;
    float: right;
    text-align: right;
}

.header-button{
    width: 20%;
    letter-spacing: 0;
    height: 80%;
    margin: 1%;
    font-size: 1.0em;
    background: transparent;
    border: none;
    color: #fff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: .6s;
    transition-timing-function: ease;
    outline: none;
}

.header-button:hover,
.header-button:active {
  letter-spacing: 5px;
}

.header-button:after,
.header-button:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.header-button:hover:after,
.header-button:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.header-button:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
.transparent {
    background-color: rgba(128,128,128,0.5);
  }