#education-area{

}

.single-education{

}

#college-education{

}

#bootcamp-education{
    
}

.education-header{
    color: #EBFCFB;
}
.education-dates{
    margin-left: 5px;
    /* color: #EBFCFB; */
}
.education-description{
    color: #EBFCFB;
}